:root {
  /* colors */
  --clr-dark-purple: 273 85% 13%;
  --clr-green: 150 100% 63%;
  --clr-grey: 271 12% 34%;
  --clr-light: 276 100% 99%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-large: 5rem;
  --fs-medium: 3.5rem;
  --fs-small: 2rem;
  --fs-body: 1.125rem;

  /* line-height */
  --lh-large: 5rem;
  --lh-medium: 4rem;
  --lh-small: 2.5rem;
  --lh-body: 2rem;

  /* font-family */

  --ff-fraunces: "Fraunces", arial;
  --ff-manrope: "Manrope", sans-serif;
}

/* Reset */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-manrope);
  font-size: var(--fs-body);
  color: hsl(var(--clr-dark-purple));
  background-color: hsl(var(--clr-white));
  min-height: 100vh;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes     */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.text-dark {
  color: hsl(var(--clr-dark-purple));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* components */
.header-logo {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  align-self: flex-start;
}

.heading-l {
  font-family: var(--ff-fraunces);
  font-weight: 600;
  text-align: center;
  font-size: var(--fs-large);
  line-height: var(--lh-large);
}

.heading-l span {
  border-bottom: 3px solid;
  border-color: hsl(var(--clr-green));
}

.heading-m {
  font-family: var(--ff-fraunces);
  font-weight: 600;
  font-size: var(--fs-medium);
  line-height: var(--lh-medium);
}

.heading-s {
  font-family: var(--ff-fraunces);
  font-weight: 600;
  font-size: var(--fs-small);
  line-height: var(--lh-small);
}

.body-text {
  font-family: var(--ff-manrope);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}

.primary-button {
  background-color: hsl(var(--clr-green));
  color: hsl(var(--clr-dark-purple));
  border: 1px solid hsl(var(--clr-dark-purple));
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
  background-color: hsl(var(--clr-dark-purple));
  color: hsl(var(--clr-green));
  border: 1px solid hsl(var(--clr-green));
}

.header {
  flex-direction: column;
  align-content: center;
  background-color: hsl(var(--clr-dark-purple));
  min-height: 45rem;
  /* position: relative; */
  z-index: -1;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 0;
  z-index: 0;
  background: hsl(var(--clr-light));
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url("assets/images/bg-pattern-border.svg");
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-repeat: no-repeat;
  mask-image: url("assets/images/bg-pattern-border.svg");
  mask-repeat: no-repeat;
}

.header-text {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text-align {
  max-width: 35rem;
}

.bg-pattern-1 {
  position: absolute;
  top: 5rem;
  left: -8rem;
}

.bg-pattern-2 {
  position: absolute;
  top: 15rem;
  right: -2rem;
}

.hero {
  position: absolute;
  top: 25rem;
  left: 25%;
  max-width: 50%;
}

.link {
  color: hsl(var(--clr-white));
  border-bottom: 3px solid;
  border-color: hsl(var(--clr-green));
}

.container-card {
  position: relative;
  column-gap: 2rem;
  grid-auto-flow: column;
  background-color: hsl(var(--clr-light));
  padding: 15rem 10rem;
  min-height: 45rem;
  z-index: -1;
}

.container-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 0;
  z-index: 0;
  background: hsl(var(--clr-white));
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url("assets/images/bg-pattern-border.svg");
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-repeat: no-repeat;
  mask-image: url("assets/images/bg-pattern-border.svg");
  mask-repeat: no-repeat;
}

.card {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.numbered-title {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

.container-founder {
  position: relative;
  height: 600px;
}

.founder {
  position: absolute;
  width: 60%;
  background-color: hsl(var(--clr-dark-purple));
  padding: 4rem;
  top: 10rem;
  right: 10rem;
}

.img-founder {
  position: absolute;
  max-width: 25%;
  top: 0;
  left: 10rem;
}

.bg-pattern-3 {
  position: absolute;
  right: 10rem;
  bottom: -5rem;
}

.footer {
  background-color: hsl(var(--clr-white));
  height: 17rem;
  justify-content: center;
  align-items: center;
}

.footer-content {
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4rem;
}

.social {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
